@media (max-width:767.99px) {
	.auth {
		right: 0px;
	}

	.auth_button {
		font-size: 1.2rem;
	}
}

@media (min-width:768px) and (max-width:1199.99px) {
	.auth {
		right: -90px;
	}

	.auth_button {
		font-size: 1.4rem;
	}
}

@media (min-width: 1200px) {
	.auth {
		right: -140px;
	}

	.auth_button {
		font-size: 1.5rem;
	}
}

.auth {
	display: flex;
	width: 130px;
	justify-content: space-between;
	position: absolute;
	top: 30px;
}

.auth_button {
	width: 60px;
	height: 35px;
	color: white;
	border: 2px solid rgb(151, 96, 143);
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.auth_button_login {
	background-color: rgb(151, 96, 143);
}

.auth_button:hover {
	cursor: pointer;
}

.auth_button:active {
	cursor: pointer;
	border-color: rgb(60, 200, 200);
	background-color: rgb(60, 200, 200);
}