* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

@font-face {
	font-family: Jura-bold;
	src: url(../assets/Jura-Bold.ttf);
}

@font-face {
	font-family: Jura-medium;
	src: url(../assets/Jura-Medium.ttf);
}

body {
	background-color: black;
	background-image: url(../assets/circle.png);
	background-size: 14px;
	background-repeat: space;
	min-width: 500px;
}

@media (max-width:767.99px) {
	.App {
		width: 80%;
	}
}

@media (min-width:768px) and (max-width:1199.99px) {
	.App {
		width: 70%;
	}
}

@media (min-width: 1200px) {
	.App {
		width: 60%;
	}
}

.App {
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	position: relative;
}